.additionally {
  padding: 25px 20px 35px 20px;
  overflow-x: hidden;
}

.additionally__title {
  @include subtitle;
  line-height: 24px;
  margin-bottom: 35px;
  position: relative;
  max-width: max-content;

  span {
    position: relative;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    z-index: 2;
    margin-left: -20px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 300vw;
    height: 2px;
    background-color: #68b738;
    top: 17px;
    left: -100%;
    z-index: 1;
  }
}

.additionally__list {
  @include list;
  margin-bottom: 35px;
}

.additionally__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additionally__link {
  @include link;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.additionally__parameter {
  margin-top: 13px;
  margin-bottom: 15px;
  line-height: 14px;
  display: flex;
}

.additionally__parameter-description {
  margin: 0;
}

.additionally__parameter-designation {
  order: 2;
}

.additionally__order {
  @include button;
}

@media (max-width: $mobile-width-only) {
  .additionally__parameter {
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .additionally {
    padding: 25px 30px 75px 30px;
  }

  .additionally__container {
    padding-top: 0;
  }

  .additionally__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    margin-bottom: 80px;

    span {
      padding-left: 40px;
      padding-right: 40px;
      background-color: #ffffff;
      z-index: 2;
      margin-left: -40px;
    }

    &::before {
      top: 24px;
    }
  }

  .additionally__list {
    margin-bottom: 70px;
  }

  .additionally__item {
    padding: 26px 30px 28px 30px;
    flex-direction: column;
    display: grid;
    grid-template-columns: 165px 242px 225px;
    grid-template-rows: 22px 22px 40px;
  }

  .additionally__link {
    font-size: 20px;
    line-height: 20px;
  }

  .additionally__parameter {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    gap: 50px;
    grid-column: 3 / 4;
  }

  .additionally__parameter-description {
    width: 135px;
    text-align: end;
  }

  .additionally__parameter-designation {
    width: 42px;
    text-align: end;
  }

  .additionally__order {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 87px;
  }

  .additionally__container {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .additionally__title {
    padding-left: 0;

    span {
      padding-left: 40px;
      padding-right: 40px;
      background-color: #ffffff;
      z-index: 2;
      margin-left: -40px;
    }

    &::before {
      top: 25px;
    }
  }

  .additionally__list {
    margin-bottom: 0;
  }

  .additionally__item {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    grid-template-columns: 165px 165px 289px 40px 244px;
    grid-template-rows: 40px;
    align-items: center;
  }

  .additionally__parameter {
    gap: 112px;
  }

  .additionally__parameter-description {
    text-align: start;
  }

  .additionally__parameter-designation {
    order: 2;
    text-align: start;
  }

  .additionally__order {
    grid-column: 5 / 6;
    grid-row: 1 / -1;
  }
}
