.additionally__container {
  padding-top: 25px;
  margin-bottom: 35px;
}

.additionally__title {
  @include subtitle;
  line-height: 24px;
  margin-bottom: 35px;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    // position: absolute;
    // width: 100vw;
    // height: 2px;
    // background-color: #68b738;
    // top: 17px;
    // left: 0;
    // margin-left: 246px;
    // margin-right: -20px;
  }
}

.additionally__list {
  @include list;
}

.additionally__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additionally__link {
  @include link;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.additionally__parameter {
  margin-top: 13px;
  margin-bottom: 15px;
  line-height: 14px;
  display: flex;
}

.additionally__parameter-description {
  margin: 0;
}

.additionally__parameter-designation {
  order: 2;
}

.additionally__order {
  @include button;
}

@media (max-width: $mobile-width-only) {
  .additionally__parameter {
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .additionally__container {
    padding-top: 40px;
    margin-bottom: 70px;
  }

  .additionally__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    margin-bottom: 80px;

    &::after {
      top: 24px;
      left: 418px;
    }
  }

  .additionally__item {
    padding: 26px 30px 28px 30px;
    flex-direction: column;
    display: grid;
    grid-template-columns: 165px 242px 225px;
    grid-template-rows: 22px 22px 40px;
  }

  .additionally__link {
    font-size: 20px;
    line-height: 20px;
  }

  .additionally__parameter {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    gap: 50px;
    grid-column: 3 / 4;
  }

  .additionally__parameter-description {
    width: 135px;
    text-align: end;
  }

  .additionally__parameter-designation {
    width: 42px;
    text-align: end;
  }

  .additionally__order {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
}

@media (min-width: $desktop-width) {
  .additionally__container {
    padding-top: 0;
    margin-bottom: 0;
  }

  .additionally__title {
    padding-left: 0;
  }

  .additionally__item {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    grid-template-columns: 165px 165px 289px 40px 244px;
    grid-template-rows: 40px;
    align-items: center;
  }

  .additionally__parameter {
    gap: 112px;
  }

  .additionally__parameter-description {
    text-align: start;
  }

  .additionally__parameter-designation {
    order: 2;
    text-align: start;
  }

  .additionally__order {
    grid-column: 5 / 6;
    grid-row: 1 / -1;
  }
}
