.catalog {
  @include container;
  padding: 27px 20px 35px 20px;
}

.catalog__title {
  @include headline;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 65px 30px 75px 30px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    max-width: 1220px;
    padding: 0;
    padding-top: 74px;
    padding-bottom: 87px;
  }
}
