.contacts__cooperation {
  font-style: normal;
  line-height: 20px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 140px 140px;
}

.contacts__description {
  margin: 0;
  color: #111111;
  font-size: 16px;
  text-transform: uppercase;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.contacts__addres,
.contacts__city {
  font-family: $variable-font;
  color: #444444;
  font-size: 14px;
  margin: 0;
}

.contacts__map {
  margin: 0;
  padding: 0;
}

.contacts__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts__cooperation {
    margin: auto;
    display: grid;
    grid-template-columns: 165px 160px;
    gap: 19px 308px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 60px;
  }

  .contacts__description {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__addres {
    font-size: 16px;
    line-height: 20px;
    grid-area: 1 / 2;
    text-align: end;
  }

  .contacts__city {
    font-size: 16px;
    line-height: 20px;
    grid-area: 2 / 2;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .contacts__cooperation {
    background-color: #ffffff;
    width: 595px;
    padding: 60px 78px 60px 80px;
    margin-bottom: 0;
    grid-template-columns: 163px 157px;
    gap: 19px 87px;
  }

  .contacts__addres,
  .contacts__city {
    text-align: start;
  }
}
