
.copyright__link {
  font-family: $variable-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .copyright__image {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid #68b738;
    outline-offset: 2px;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    width: 163px;
    margin-left: 10px;
  }
}
