.example__container {
  @include container;
  padding: 25px 20px 40px 20px;
}

.example__title {
  @include headline;
  line-height: 40px;
  margin-bottom: 40px;
}

.example__intro {
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  display: flex;
  margin: 0;
  margin-bottom: 25px;
  align-items: flex-start;
  justify-content: center;
}

.example__item {
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  min-height: 56px;
  padding-top: 15px;
}

.example__item:not(:last-child) {
  margin-right: 32px;
}

.example__number {
  font-family: $main-font;
  font-size: 24px;
  color: #000000;
  line-height: 24px;
  margin-bottom: 8px;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__total {
  font-family: $main-font;
  color: #000000;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  width: 190px;
  justify-content: space-between;
}

.example__info {
  margin-bottom: 20px;
}

.example__expenses,
.example__amount {
  margin: 0;
}

.example__slider {
  display: flex;
  justify-content: center;
  position: relative;
}

.example__slider-list {
  @include list;
  width: 280px;
  height: 256px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.example__slider-item--before {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 256px;
  overflow: hidden;
}

.example__slider-item--after {
  position: absolute;
  top: 0;
  left: 140px;
  width: 140px;
  height: 256px;
  overflow: hidden;
}

.example__slider-image--before {
  width: 280px;
  height: 256px;
  position: absolute;
  top: 0;
  left: 0;
}

.example__slider-image--after {
  width: 280px;
  height: 256px;
  position: absolute;
  top: 0;
  right: 0;
}

.example__slider-control {
  display: block;
  cursor: pointer;
  user-select: none;
  border: none;
  width: 4px;
  height: 100%;
  padding: 0;
  background-color: #666666;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #5eaa2f;
  }
}

.example__slider-control-image {
  margin-left: -18px;
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #5eaa2f;
  }
}

@media (max-width: $mobile-width-only) {
  .example__container {
    background: #ebebeb;
  }

  .example__description {
    background-color: #eaeaea;
    width: 77px;
    margin: 0 auto -10px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 620px, #ebebeb 620px, #ebebeb 100%);
  }

  .example__container {
    padding: 45px 30px 100px 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .example__intro {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .example__info {
    margin-bottom: 99px;
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    text-align: center;
    margin-bottom: 0;
  }

  .example__item {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 162px;
  }

  .example__description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    max-width: 135px;
    margin: 0 auto;
    transform: translateY(50%);
  }

  .example__item:not(:last-child) {
    margin-right: 43px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }

  .example__total {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    flex-direction: column;
    text-align: end;
    justify-content: center;
  }

  .example__expenses {
    margin-bottom: 9px;
  }

  .example__slider-list {
    width: 560px;;
    height: 512px;
    position: relative;
  }

  .example__slider-item--before {
    width: 280px;
    height: 512px;
  }

  .example__slider-item--after {
    left: 280px;
    width: 280px;
    height: 512px;
  }

  .example__slider-image--before {
    width: 560px;
    height: 512px;
  }

  .example__slider-image--after {
    width: 560px;
    height: 512px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 108px, #f2f2f2 108px, #f2f2f2 100%);
  }

  .example__container {
    padding: 0;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: minmax(1fr, 436px) minmax(1fr, 560px);
    column-gap: 222px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__description {
    background-color: #f2f2f2;
  }

  .example__intro {
    width: 436px;
    margin-bottom: 70px;
  }

  .example__total {
    display: flex;
    flex-direction: row;
    text-align: start;
    width: 327px;
  }

  .example__expenses {
    margin-bottom: 0;
    margin-right: 63px;
  }

  .example__info {
    margin-bottom: 0;
    flex-direction: column;
  }

  .example__list {
    margin-bottom: 55px;
    justify-content: start;
  }

  .example__slider {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}
