.field-form {
  text-transform: uppercase;
  margin-bottom: 24px;
}

.field-form__title {
  @include subtitle;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 35px;
}

.field-form__row {
  margin: 0;
  display: flex;
  align-items: center;
}

.field-form__row:not(:last-child) {
  margin-bottom: 14px;
}

.field-form__label {
  display: flex;
}

.field-form__input {
  @include input;
}

.field-form__area {
  @include input;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .field-form {
    margin-bottom: 72px;
  }

  .field-form__row:not(:last-child) {
    margin-bottom: 20px;
  }

  .field-form__input {
    font-size: 20px;
    padding: 10px 20px;
  }

  .field-form__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .field-form__area {
    margin-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .field-form__container {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}
