.how-work__container {
  @include container;
  margin-bottom: 50px;
  padding: 0 20px;
}

.how-work__title {
  @include headline;
  line-height: 40px;
  margin-bottom: 40px;
}

.how-work__list {
  @include list;
}

.how-work__item {
  position: relative;
  padding-left: 80px;

  &--natural::before {
    content: url("../img/natural.svg");
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    top: 2px;
    left: 0;
    justify-content: center;
    align-items: center;
  }

  &--powder::before {
    content: url("../img/powder.svg");
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    top: 2px;
    left: 0;
    justify-content: center;
    align-items: center;
  }

  &--food::before {
    content: url("../img/food.svg");
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    top: 2px;
    left: 0;
    justify-content: center;
    align-items: center;
  }

  &--weight::before {
    content: url("../img/weight.svg");
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    top: 2px;
    left: 0;
    justify-content: center;
    align-items: center;
  }
}

.how-work__item:not(:last-child) {
  margin-bottom: 20px;
}

.how-work__dascription {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 4px;
}

@media (min-width: $tablet-width) {
  .how-work__container {
    margin-bottom: 0;
    padding: 0 30px;
    padding-bottom: 46px;
    border-bottom: 1px solid #e6e6e6;
  }

  .how-work__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .how-work__list {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
    column-gap: 60px;
    row-gap: 37px;
    counter-reset: section;
  }

  .how-work__item {
    padding-left: 0;
    position: relative;
    display: flex;
    padding-right: 80px;

    &--natural::before {
      width: 80px;
      height: 80px;
      top: 40px;
    }

    &--powder::before {
      width: 80px;
      height: 80px;
      top: 40px;
    }

    &--food::before {
      width: 80px;
      height: 80px;
      top: 40px;
    }

    &--weight::before {
      width: 80px;
      height: 80px;
      top: 40px;
    }

    &::after {
      counter-increment: section;
      content: "" counter(section);
      color: #f2f2f2;
      position: absolute;
      top: 0;
      right: 77px;
      font-family: $main-font;
      font-size: 280px;
      line-height: 280px;
      display: block;
      min-width: 134px;
      text-align: left;
    }
  }

  .how-work__item:not(:last-child) {
    margin-bottom: 0;
  }

  .how-work__dascription {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin-left: 0;
    margin-top: 151px;
    margin-bottom: 57px;
    display: flex;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .how-work__container {
    margin-bottom: 70px;
    padding: 0;
    border-bottom: none;
  }

  .how-work__item {
    padding-right: 0;

    &::after {
      right: 0;
    }
  }

  .how-work__dascription {
    margin-top: 153px;
  }

  .how-work__list {
    display: grid;
    width: 1220px;
    grid-template-columns: minmax(245px, 1fr) minmax(245px, 1fr) minmax(245px, 1fr) minmax(245px, 1fr);
    column-gap: 78px;
  }
}
