.logo {
  @include link;
  display: flex;
  align-items: center;
}

.logo__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid #68b738;
    outline-offset: 2px;
  }
}
