.main-footer {
  max-width: 320px;
  padding-bottom: 40px;
}

.main-footer__container {
  background-color: #f2f2f2;
  padding: 40px 20px;
}

.main-footer--index {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 490px, #f2f2f2 490px, #f2f2f2 100%);
}

.main-footer__logo {
  padding-top: 40px;
}

.copyright__link {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
}
