.main-footer {
  background-color: #f2f2f2;
}

.main-footer__container {
  @include container;
}

.main-footer__link {
  padding: 40px 20px;
}

@media (max-width: $mobile-width-only) {
  .main-footer__container--index {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 112px, #f2f2f2 112px, #f2f2f2 100%);
  }

  .main-footer__logo {
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
  }

  .main-footer__social {
    border-bottom: 1px solid #d9d9d9;
  }

  .main-footer__copyright {
    padding-top: 19px;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__container--index {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 200px, #f2f2f2 200px, #f2f2f2 100%);
  }

  .main-footer__logo {
    padding: 0;
  }

  .main-footer__link {
    display: flex;
    padding: 55px 30px;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    width: 100%;
  }

  .main-footer__link {
    max-width: 1220px;
    padding: 66px 0 66px 0;
    margin: 0 auto;
  }

  .main-footer__container {
    max-width: 100%;
  }

  .main-footer__container--index {
    background: #f2f2f2;
  }
}
