.optionally {
  padding-bottom: 34px;
}

.optionally__title {
  margin-bottom: 34px;
}

.optionally__group {
  margin: 0;
  padding: 0;
  border: none;
}

.optionally__item {
  margin-bottom: 12px;
}
