.product__card {
  padding-top: 20px;
  padding-bottom: 25px;
}

.product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  margin: 0;
}

.product__image {
  display: block;
  object-fit: contain;
}

.product__parameter {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 17px;
  display: grid;
}

.product__parameter-description {
  margin: 0;
}

.product__parameter-designation {
  order: 2;
}

.product__order,
.product__more {
  @include button;
}

.product__card--more {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.product__title--more {
  font-family: $main-font;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.product__subtitle {
  margin: 0;
  font-size: 12px;
  margin-bottom: 21px;
}

.product__parameter-item {
  display: flex;
  justify-content: space-between;
}

.product__link {
  @include link;
}

.product__more {
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
    transition: all 0.5s ease;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid #68b738;
    outline-offset: 2px;
  }
}

@media (max-width: $mobile-width-only) {
  .product__card {
    width: 100%;
    border-top: 1px solid #ebebeb;
  }

  .product__link {
    display: flex;

    .product__title {
      order: 2;
    }
  }

  .product__card--more {
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .product__card {
    padding: 10px 37px 40px 37px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 80px, #f2f2f2 80px, #f2f2f2 100%);
  }

  .product__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product__image {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  .product__title {
    width: 135px;
    order: 2;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .product__parameter {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
    gap: 10px;
  }

  .product__order,
  .product__more {
    width: 250px;
  }

  .product__card--more {
    padding: 0;
    background: #ffffff;
    padding-top: 158px;
    padding-bottom: 40px;
    margin-top: 82px;
    border: 2px solid #f2f2f2;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      top: 50px;
      left: 132px;
      background-color: #d3d3d3;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  .product__title--more {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 23px;
  }

  .product__subtitle {
    width: 170px;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .product__order {
    width: 170px;
  }

  .product__more {
    width: 170px;
    padding: 10px 39px;
  }

  .product__card--more {
    background: #ffffff;
    padding: 150px 20px 40px 20px;

    &::after,
    &::before {
      top: 50px;
      left: 93px;
    }
  }

  .product__title--more {
    margin-bottom: 26px;
  }

  .product__subtitle {
    margin-bottom: 80px;
  }
}
