.product__list {
  @include list;
}

@media (min-width: $tablet-width) {
  .product__list {
    display: grid;
    grid-template-columns: minmax(324px, 1fr) minmax(324px, 1fr);
    gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .product__list {
    grid-template-columns: minmax(245px, 1fr) minmax(245px, 1fr) minmax(245px, 1fr) minmax(245px, 1fr);
    gap: 80px;
  }
}
