.program-form {
  width: 100%;
  color: #ffffff;
  background-color: hsla(97, 53%, 47%, 0.85);
  margin-bottom: 20px;
  line-height: 14px;
}

.program-form__container {
  min-width: 320px;
  padding-top: 27px;
  padding-left: 16px;
  padding-right: 16px;
}

.program-form__title {
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 25px;
}

.program-form__slogan {
  text-transform: uppercase;
}
