.program-form {
  width: 100%;
  color: #ffffff;
  background: linear-gradient(to top, #ffffff 0%, #ffffff 302px, #69b738d9 302px, #69b738d9 100%);
  margin-bottom: 20px;
  line-height: 14px;
}

.program-form__container {
  @include container;
  min-width: 320px;
  padding: 0 20px;
  padding-top: 27px;
}

.program-form__title {
  @include headline;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 25px;
  text-align: center;
}

.program-form__slogan {
  font-family: $main-font;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 300px;
  text-align: center;
}

.program-form__link {
  @include button;
  padding: 10px 44px;
}

@media (min-width: $tablet-width) {
  .program-form__container {
    padding-top: 65px;
    padding-left: 120px;
    padding-right: 30px;
  }

  .program-form {
    background: #ffffff;
  }

  .program-form__title {
    color: #000000;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    text-align: left;
  }

  .program-form__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 50px;
  }

  .program-form__link {
    width: 244px;
    margin-bottom: 525px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
  }
}

@media (min-width: $desktop-width) {
  .program-form__container {
    padding-top: 110px;
    padding-left: 190px;
    padding-right: 120px;
    background: linear-gradient(to right, #ffffff 0%, #ffffff 720px, #69b738d9 720px, #69b738d9 100%);
    margin-bottom: 82px;
  }

  .program-form__link {
    margin-bottom: 185px;
  }
}
