.program-selection {
  font-family: $main-font;
  padding: 0 20px;
  padding-top: 27px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 18px;
}

.program-selection__container {
  @include container;
}

.program-selection__title {
  @include headline;
  line-height: 36px;
  margin-bottom: 37px;
}

.program-selection__owner {
  padding-top: 26px;
}

.program-selection__optionally {
  margin-bottom: 34px;
}

.program-selection__description {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  margin-bottom: 39px;
}

.program-selection__button {
  @include button;
  margin-bottom: 21px;
}

.program-selection__legend {
  font-family: $variable-font;
  color: #000000;
  font-size: 14px;
  text-transform: none;
  line-height: 16px;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .program-selection {
    padding: 0 70px;
    padding-top: 50px;
    margin-bottom: 65px;
    font-size: 20px;
  }

  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .program-selection__description {
    width: 325px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  .program-selection__owner {
    padding-top: 0;
    margin-bottom: 65px;
  }

  .program-selection__comment {
    margin-bottom: 65px;
  }

  .program-selection__optionally {
    margin-bottom: 65px;
  }

  .program-selection__button {
    width: 285px;
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 26px;
    margin-bottom: 0;
    margin-right: 60px;
  }

  .program-selection__container-button {
    display: flex;
    align-items: center;
  }

  .program-selection__legend {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    padding: 0 110px;
    padding-top: 60px;
    margin-bottom: 79px;
  }

  .program-selection__container {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    grid-template-rows: 60px 196px;
    row-gap: 66px;
    margin-bottom: 70px;
  }

  .program-selection__description {
    margin: 0;
  }

  .program-selection__field-form {
    margin: 0;
    grid-column: 1 / 2;
  }

  .program-selection__result {
    margin: 0;
  }

  .program-selection__owner {
    margin-bottom: 70px;
  }

  .program-selection__comment {
    margin-bottom: 70px;
  }

  .program-selection__button {
    width: 570px;
    line-height: 26px;
    margin-right: 80px;
  }
}
