.program-selection {
  overflow-x: hidden;
}

.program-selection__form {
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  padding: 0 20px;
  margin-bottom: 32px;
}

.program-selection__container {
  @include container;
}

.program-selection__title {
  @include headline;
  line-height: 36px;
  padding-top: 27px;
  padding-left: 20px;
  margin-bottom: 37px;
}

.program-selection__owner {
  padding-top: 26px;
}

.program-selection__optionally {
  margin-bottom: 33px;
}

.program-selection__description {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  margin-bottom: 39px;
}

.program-selection__button {
  @include button;
  margin-bottom: 21px;
}

.program-selection__legend {
  font-family: $variable-font;
  color: #000000;
  font-size: 14px;
  text-transform: none;
  line-height: 16px;
  display: flex;
  justify-content: center;
}

@media (max-width: $mobile-width-only) {
  .program-selection__description {
    max-width: 226px;
  }

  .program-selection__result {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      margin-left: -20px;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      margin-left: -20px;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }
  }
}

@media (min-width: $tablet-width) {
  .program-selection__form {
    padding: 0 70px;
    margin-bottom: 61px;
    font-size: 20px;
  }

  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    padding-left: 70px;
    padding-top: 40px;
  }

  .program-selection__description {
    width: 325px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  .program-selection__owner {
    padding-top: 0;
    margin-bottom: 65px;
  }

  .program-selection__comment {
    margin-bottom: 65px;
  }

  .program-selection__optionally {
    margin-bottom: 52px;
  }

  .program-selection__button {
    width: 285px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0;
    margin-right: 64px;
  }

  .program-selection__container-button {
    display: flex;
    align-items: center;
  }

  .program-selection__legend {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__title {
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 31px;
  }

  .program-selection__form {
    max-width: 1220px;
    padding: 0;
    padding-top: 56px;
    margin: 0 auto;
    margin-bottom: 79px;
  }

  .program-selection__container {
    display: grid;
    max-width: 100%;
    grid-template-columns: minmax(570px, 1fr) minmax(570px, 1fr);
    column-gap: 80px;
    grid-template-rows: auto auto;
    row-gap: 66px;
    margin-bottom: 68px;
  }

  .program-selection__description {
    margin: 0;
  }

  .program-selection__field-form {
    margin: 0;
    grid-column: 1 / 2;
  }

  .program-selection__result {
    margin: 0;
  }

  .program-selection__owner {
    margin-bottom: 70px;
  }

  .program-selection__comment {
    margin-bottom: 70px;
  }

  .program-selection__optionally {
    margin-bottom: 60px;
  }

  .program-selection__button {
    width: 570px;
    line-height: 26px;
    margin-right: 80px;
  }
}
