.program-form {
  width: 100%;
  color: #ffffff;
  background: linear-gradient(to top, #ffffff 0%, #ffffff 302px, #69b738d9 302px, #69b738d9 100%);
  margin-bottom: 20px;
  line-height: 14px;
}

.program-form__container {
  min-width: 320px;
  padding-top: 27px;
  padding-left: 16px;
  padding-right: 16px;
}

.program-form__title {
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 25px;
}

.program-form__slogan {
  text-transform: uppercase;
  margin-bottom: 300px;
}

.program-form__link {
  padding: 10px 44px;
}
