.promo__container {
  background-color: #68b738d9;
}

.promo__description {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 187px 59px 43px 59px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__description {
    padding: 70px 125px 70px 421px;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .promo__container {
    width: 245px;
    display: flex;
  }

  .promo__description {
    padding: 185px 42px 43px 42px;
    text-align: center;
  }
}
