.promo__container {
  background-color: #68b738;
  margin: 0 auto;
  color: #ffffff;
}

.promo__description {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-align: center;
}

@media (max-width: $mobile-width-only) {
  .promo__container {
    background-color: #68b738;
    width: 280px;
    height: 290px;
    background-image: url("../img/cat-promo.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .promo__description {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 280px;
      height: 290px;
      background-color: #68b738;
      opacity: 0.8;
      z-index: 1;
    }

    span {
      position: absolute;
      width: 161px;
      top: 187px;
      left: 59px;
      color: #ffffff;
      z-index: 2;
    }
  }
}

@media (min-width: $tablet-width) {
  .promo__description {
    padding: 70px 125px 70px 421px;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .promo__container {
    align-items: flex-end;
    width: 245px;
    display: flex;
  }

  .promo__description {
    padding: 185px 42px 43px 42px;
    text-align: center;
  }
}
