.selection__group {
  margin: 0;
  border: none;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 20px;
}

.selection__title {
  @include subtitle;
  line-height: 26px;
  margin-bottom: 32px;
  position: relative;
  max-width: max-content;

  span {
    position: relative;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    z-index: 2;
    margin-left: -20px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 400vw;
    height: 2px;
    background-color: #68b738;
    top: 17px;
    left: -200%;
    z-index: 1;
  }
}

.selection__list {
  @include list;
  text-transform: uppercase;
}

.selection__item {
  display: flex;
  align-items: center;
}

.selection__label,
.selection__control {
  padding-left: 15px;
}

.selection__input {
  position: relative;
  width: 30px;
  height: 30px;
  appearance: none;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;
    width: 30px;
    height: 30px;
  }

  &:hover {
    &::before {
      border: 1px solid #bababa;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid #68b738;
    outline-offset: 2px;
  }

  &:disabled + label {
    opacity: 0.3;
  }
}

.selection__input[type="radio"] {
  position: relative;
  width: 30px;
  height: 30px;
  appearance: none;
  margin: 0;

  &::before {
    content: "";
    border-style: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  &:hover {
    &::before {
      border: 1px solid #bababa;
    }
  }
}

.selection__input[type="radio"]:checked {
  position: relative;

  &::after {
    content: url("../img/radiobutton-active.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7px;
    margin-top: -7px;
  }
}

.selection__input[type="checkbox"]:checked {
  position: relative;

  &::after {
    content: url("../img/boxbutton-active.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -6px;
  }
}

.selection__item:not(:last-child) {
  margin-bottom: 13px;
}

.selection__group--optionally {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .selection {
    margin-bottom: 65px;
  }

  .selection__group {
    border: 1px solid #e7e7e7;
    padding-top: 23px;
    padding-bottom: 27px;
    padding-left: 27px;
  }

  .selection__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;

    span {
      padding-left: 40px;
      padding-right: 40px;
      background-color: #ffffff;
      z-index: 2;
      margin-left: -40px;
    }

    &::before {
      top: 24px;
    }
  }

  .selection__group--optionally {
    border: none;
    padding: 0;
  }

  .selection__list--optionally {
    display: grid;
    grid-template-columns: 344px 324px;
    grid-template-rows: repeat(2, 40px);
    row-gap: 32px;
  }

  .selection__item:not(:last-child) {
    margin-bottom: 0;
  }

  .selection__item--result:not(:last-child) {
    margin-bottom: 13px;
  }

  .selection__label,
  .selection__control {
    padding-left: 20px;
  }

  .selection__input {
    width: 40px;
    height: 40px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .selection__input[type="radio"] {
    width: 40px;
    height: 40px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .selection__input[type="radio"]:checked {
    position: relative;

    &::after {
      content: url("../img/radiobutton-active-big.svg");
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -9px;
      margin-top: -9px;
    }
  }

  .selection__input[type="checkbox"]:checked {
    position: relative;

    &::after {
      content: url("../img/boxbutton-active-big.svg");
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -13px;
      margin-top: -13px;
    }
  }
}

@media (min-width: $desktop-width) {
  .selection__group {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;
  }

  .selection__group--optionally {
    padding: 0;
  }

  .selection__list--optionally {
    grid-template-columns: repeat(4, 221px);
    column-gap: 104px;
    grid-template-rows: 40px;
    row-gap: 0;
  }
}
