.selection__group {
  margin: 0;
  border: none;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 20px;
}

.selection__title {
  @include subtitle;
  line-height: 26px;
  margin-bottom: 34px;
}

.selection__list {
  @include list;
  text-transform: uppercase;
}

.selection__item {
  display: flex;
}

.selection__label {
  order: 2;
}

.selection__input {
  border-style: none;
  margin: 0;
  border: 1px solid #cdcdcd;
}

.selection__item:not(:last-child) {
  margin-bottom: 14px;
}

.selection__group--optionally {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .selection {
    margin-bottom: 65px;
  }

  .selection__group {
    border: 1px solid #e7e7e7;
    padding-top: 23px;
    padding-bottom: 27px;
    padding-left: 27px;
  }

  .selection__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }

  .selection__group--optionally {
    border: none;
    padding: 0;
  }

  .selection__list--optionally {
    display: grid;
    grid-template-columns: 344px 324px;
    grid-template-rows: repeat(2, 40px);
    row-gap: 32px;
    align-items: center;
  }

  .selection__item:not(:last-child) {
    margin-bottom: 0;
  }

  .selection__input {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
