.social {
  @include list;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  width: 132px;
  justify-content: space-between;
  margin: 0 auto;
}

.social__item {
  width: 28px;
  height: 22px;
}

.social__link {
  &:hover .social__link-image {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid #68b738;
    outline-offset: 2px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
  }
}
