body {
  margin: 0;
  min-height: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #444444;
  padding: 0 20px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  width: 100%;
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #69b738;
  text-decoration: none;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 10px 44px;
}

.link {
  font-family: "Oswald", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 14px 15px;
  line-height: 18px;
  border: 1px solid #e7e7e7;
  margin-left: 13px;
  min-width: 100%;
}
